body,
html {
  height: 100%;
}
body {
  background: #ecf0f1;
  color: #16a085;
  font-size: 50px;
  height: 2000px;
}
section#nav_scrollbar {
  width: 150px;
  height: 100%;
  background: #16a085;
}
section#nav_scrollbar div#scroll_track {
  background: #bdc3c7;
  width: 10px;
  height: 90%;
  position: fixed;
  top: 5%;
  left: 70px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
section#nav_scrollbar div#scrolling_nav {
  width: 150px;
  height: 150px;
  background: #ecf0f1;
  position: fixed;
}
section#content_area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  left: 150px;
}
section#content_area h1 {
  font-size: 50px;
  font-family: 'Lato', 'Trebuchet MS', 'Sans serif';
}
section#content_area .wrapper {
  border-bottom: 6px dashed #bdc3c7;
}
section#content_area .obj-c {
  color: #000;
  font-size: 20px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
section#content_area .obj-c #first_codesection_pf {
  display: block;
}
section#content_area .obj-c #second_codesection_pf {
  display: block;
  text-indent: 504px;
}
section#content_area .obj-c .class {
  color: #e349a0;
}
section#content_area .obj-c .property_or_self-defined {
  color: #77abab;
}
section#content_area .obj-c .function {
  color: #556464;
}
section#content_area .obj-c .string {
  color: #e74c3c;
}
section#content_area .obj-c .parameter {
  color: #9b59b6;
}
section#content_area .content_section {
  padding-top: 100px;
  padding-bottom: 100px;
}
section#content_area #about {
  margin-top: 100px;
}
section#content_area #about h1 {
  color: #16a085;
  text-align: justify;
}
section#content_area #about #welcome_img {
  height: 300px;
  background: #bdc3c7;
}
section#content_area #prevWork_items_upper {
  border-bottom: #e74c3c solid 3px;
}
section#content_area #prevWork_items_lower {
  border-top: #e74c3c solid 3px;
  margin-bottom: 100px;
  left: 300px;
}
section#content_area .prevWork_item {
  width: 500px;
  height: 350px;
  background: #bdc3c7;
  float: left;
  margin: 75px 70px;
}
