body,
html {
  height: 100%;
}
body {
  background: #ecf0f1;
  color: #16a085;
  font-size: 50px;
}
body h1 {
  font-size: 50px;
  font-family: 'Lato', 'Trebuchet MS', 'Sans serif';
}
.obj-c {
  color: #000;
  font-size: 20px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
.obj-c #first_codesection_pf {
  display: block;
}
.obj-c #second_codesection_pf {
  display: block;
  text-indent: 504px;
}
.obj-c .class {
  color: #e349a0;
}
.obj-c .property_or_self-defined {
  color: #77abab;
}
.obj-c .function {
  color: #556464;
}
.obj-c .string {
  color: #e74c3c;
}
.obj-c .parameter {
  color: #9b59b6;
}
#background {
  position: fixed;
  width: 100%;
}
#background #header_wrapper {
  background: #16a085;
  border-bottom: none;
  width: 100%;
  height: 100%;
}
#background #header_wrapper #header {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#background #header_wrapper #header h1 {
  color: #ecf0f1;
  text-align: justify;
}
#background #header_wrapper #header #welcome_img {
  height: 300px;
  background: #bdc3c7;
}
#nav_scroll_bar {
  width: 100%;
  height: 75px;
  z-index: 100;
  position: absolute;
}
#nav_scroll_bar #scrolling_nav_wrapper {
  position: relative;
  width: 75px;
  height: 75px;
}
#nav_scroll_bar #scrolling_nav_wrapper #scrolling_nav {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
#content_area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #ecf0f1;
}
#content_area .wrapper {
  border-bottom: 6px dashed rgba(0, 0, 0, 0.3);
}
#content_area .content_section {
  padding-top: 100px;
  padding-bottom: 100px;
}
#content_area #prev_work {
  overflow: hidden;
}
#content_area #prev_work #prev_work_header {
  margin-top: 100px;
  margin-bottom: 0px;
}
#content_area #prev_work #prev_work_items_wrapper {
  position: relative;
}
#content_area #prev_work #prev_work_items_wrapper #prev_work_items_upper {
  border-bottom: #16a085 solid 3px;
}
#content_area #prev_work #prev_work_items_wrapper #prev_work_items_lower_wrapper {
  border-top: #16a085 solid 3px;
  margin-bottom: 100px;
}
#content_area #prev_work #prev_work_items_wrapper .prev_work_item {
  width: 500px;
  height: 350px;
  background: #bdc3c7;
  float: left;
  margin: 75px 70px;
}
#content_area #prev_work #work_timeline_scroller {
  position: absolute;
  background: #ecf0f1;
  -moz-border-radius: 56px;
  border-radius: 56px;
  border: #16a085 solid 6px;
  padding: 32px 20px;
  z-index: 200;
  cursor: pointer;
}
#content_area #prev_work #work_timeline_scroller span {
  width: 65px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 20px;
  cursor: pointer;
}
#content_area #prev_work #work_timeline_scroller.active {
  border-style: double;
}
