@white: #ecf0f1;
@green: #16a085;
@black_trans: rgba(0, 0, 0, 0.3);
@grey: #bdc3c7;
@red: #e74c3c;
@pink: #e349a0;

@code_font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

@scrollbar_width: 150px;

body, html {
	height:100%;
}

body {
	background: @white;
	color: @green;
	font-size: 50px;
}

#nav_scrollbar {
	width: @scrollbar_width; height: 100%;
	background: @green;
	position: fixed;
	z-index: 100;

	#scroll_track {
		background: @white;
		width: 10px; height: 90%; 
		position: fixed; top: 5%; left: 70px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	#scrolling_nav_wrapper {
		position: fixed;

		#scrolling_nav {
			width: @scrollbar_width; height: @scrollbar_width;
			background: @green;
		}

		#scrolling_page_description {
			-webkit-transform:rotate(90deg);
			position: relative; top: -40px; left: 104px;
			font-family: @code_font-family;
			font-size: 25px;
			color: @green;
		}
	}
}

#content_area {
	position: absolute; left: 0; top: 0;
	width: 100%;
	left: @scrollbar_width;

	h1 {
		font-size: 50px;
		font-family: 'Lato', 'Trebuchet MS', 'Sans serif';
	}

	.wrapper {
		border-bottom: 6px dashed @black_trans;
	}

	.obj-c {
		color: #000;
		font-size: 20px;
    	font-family: @code_font-family;

    	#first_codesection_pf {
			display: block;
    	}

    	#second_codesection_pf {
			display: block;
			text-indent: 504px;
    	}

    	.class {
			color: @pink;
    	}

    	.property_or_self-defined {
			color: #77abab;
    	}

    	.function {
			color: #556464;
    	}

    	.string {
    		color: #e74c3c;
    	}

    	.parameter {
    		color: #9b59b6;
    	}
	}
	.content_section {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	#header_wrapper {
		background: @green;
		border-bottom: none;
	}

	#header {
		padding-top: 100px;

		h1 {
			color: @white;
			text-align: justify;
		}

		#welcome_img {
			height: 300px;
			background: #bdc3c7;
		}
	}

	#prevWork {
		overflow: hidden;

		#prevWork_header {
			margin-top: 100px;
			margin-bottom: 0px;
		}

		#prevWork_wrapper {
			position: relative;

			#prevWork_items_upper {
				border-bottom: @green solid 3px;
			}

			#prevWork_items_lower_wrapper {
				border-top: @green solid 3px;
				margin-bottom: 100px;
			}

			.prevWork_item {
				width: 500px; height: 350px;
				background: #bdc3c7;
				float: left;
				margin: 75px 70px;
			}
		}

		#work_timeline_scroller {
			position: absolute;
			background: @white;
			-moz-border-radius: 56px;
			border-radius: 56px;
			border:@green solid 6px;
			padding: 32px 20px;
			z-index: 200;
			cursor: pointer;

			span {
				width: 65px;
				font-family: @code_font-family;
				font-size: 20px;
				cursor: pointer;
			}
		}

		#work_timeline_scroller.active {
			border-style: double;
		}
	}
}