@white: #ecf0f1;
@green: #16a085;
@black_trans: rgba(0, 0, 0, 0.3);
@grey: #bdc3c7;
@red: #e74c3c;
@pink: #e349a0;

@code_font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

@scroll_bar_height: 75px;

body, html {
	height:100%;
}

body {
	background: @white;
	color: @green;
	font-size: 50px;

	h1 {
		font-size: 50px;
		font-family: 'Lato', 'Trebuchet MS', 'Sans serif';
	}
}

.obj-c {
	color: #000;
	font-size: 20px;
		font-family: @code_font-family;

		#first_codesection_pf {
		display: block;
		}

		#second_codesection_pf {
		display: block;
		text-indent: 504px;
		}

		.class {
		color: @pink;
		}

		.property_or_self-defined {
		color: #77abab;
		}

		.function {
		color: #556464;
		}

		.string {
			color: #e74c3c;
		}

		.parameter {
			color: #9b59b6;
		}
}

#background {
	position: fixed;
	width: 100%;

	#header_wrapper {
		background: @green;
		border-bottom: none;
		width: 100%; height: 100%;

		#header {

			position:relative;
			top: 50%;
			transform: translateY(-50%);

			h1 {
				color: @white;
				text-align: justify;
			}

			#welcome_img {
				height: 300px;
				background: #bdc3c7;
			}
		}
	}
}

#nav_scroll_bar {
	width: 100%; height: @scroll_bar_height;
	z-index: 100;
	position: absolute;

	#scrolling_nav_wrapper {
		position: relative;
		width: @scroll_bar_height; height: @scroll_bar_height;

		#scrolling_nav {
			width: 100%; height: 100%;
			background: @green;
		}
	}

	.fixed {
		position: fixed;
	}
}

#content_area {
	position: absolute; left: 0; top: 0;
	width: 100%;
	background: @white;

	.wrapper {
		border-bottom: 6px dashed @black_trans;
	}

	.content_section {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	#prev_work {
		overflow: hidden;

		#prev_work_header {
			margin-top: 100px;
			margin-bottom: 0px;
		}

		#prev_work_items_wrapper {
			position: relative;

			#prev_work_items_upper {
				border-bottom: @green solid 3px;
			}

			#prev_work_items_lower_wrapper {
				border-top: @green solid 3px;
				margin-bottom: 100px;
			}

			.prev_work_item {
				width: 500px; height: 350px;
				background: #bdc3c7;
				float: left;
				margin: 75px 70px;
			}
		}

		#work_timeline_scroller {
			position: absolute;
			background: @white;
			-moz-border-radius: 56px;
			border-radius: 56px;
			border:@green solid 6px;
			padding: 32px 20px;
			z-index: 200;
			cursor: pointer;

			span {
				width: 65px;
				font-family: @code_font-family;
				font-size: 20px;
				cursor: pointer;
			}
		}

		#work_timeline_scroller.active {
			border-style: double;
		}
	}
}
